<div class="container">
  <a href="" class="d-block mb-3">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </a>

  <form [formGroup]="newStory" (ngSubmit)="publish()">
    <div class="form-group">
      <label for="image" class="d-block">
        Select Image <br />
        <mat-icon>camera_alt</mat-icon>
        <input
          type="file"
          id="image"
          accept="image/*"
          (change)="newImage($event)"
          class="form-control-file"
        />
      </label>
      <img [src]="newStory.value.image" class="img-fluid mt-3" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Publish</button>
  </form>
</div>
