<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Ng-Feed</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/newStory"> Upload story </a>
          <a routerLink="/post" class="nav-link"> Upload Post </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- <div id="stories">
      <li id="noSeen" *ngFor="let story of stories">
        <a [routerLink]="['/stories/' + story.user.username]">
          <div id="noSeenImg">
            <img [src]="story.user.pic" />
          </div>
          <p>{{ story.user.username }}</p>
        </a>
      </li>
      <li id="alreadySeen" *ngFor="let story of storiesAlreadySeen">
        <a [routerLink]="['/stories/' + story.user.username]">
          <div>
            <img [src]="story.user.pic" />
          </div>
          <p>{{ story.user.username }}</p>
        </a>
      </li>
    </div> -->

  <app-post-list></app-post-list>
</div>
<app-footer></app-footer>
