<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Ng-Feed</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/newStory"> Upload story </a>
          <a routerLink="/post" class="nav-link"> Upload Post </a>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <ul class="list-unstyled">
      <li *ngFor="let story of stories" class="mb-3">
        <a [routerLink]="['/stories/' + story.user.username]">
          <div class="d-flex align-items-center">
            <div
              class="rounded-circle bg-warning"
              style="width: 40px; height: 40px; overflow: hidden"
            >
              <img
                [src]="story.user.pic"
                alt="{{ story.user.username }}"
                class="img-fluid"
                style="object-fit: cover; width: 100%; height: 100%"
              />
            </div>
            <p class="ml-3 mb-0">{{ story.user.username }}</p>
          </div>
        </a>
      </li>
      <li *ngFor="let story of storiesAlreadySeen" class="mb-3">
        <a [routerLink]="['/stories/' + story.user.username]">
          <div class="d-flex align-items-center">
            <div
              class="rounded-circle bg-info"
              style="width: 40px; height: 40px; overflow: hidden"
            >
              <img
                [src]="story.user.pic"
                alt="{{ story.user.username }}"
                class="img-fluid"
                style="object-fit: cover; width: 100%; height: 100%"
              />
            </div>
          </div>
          <p class="ml-3 mb-0">{{ story.user.username }}</p>
        </a>
      </li>
    </ul>
  </div>

  <app-post-list></app-post-list>
</div>
<app-footer></app-footer>
